<div class="container add-product-to-cart-input">
    <form asp-action="AddProductToCart" asp-controller="Shared" autocomplete="off" method="post">
        <label for="addProductToCartInput" hidden></label>
        <input type="text" name="input" id="addProductToCartInput" placeholder="CODE x QUANTITY" />
    </form>
</div>