<div class="container add-product-to-cart-input">
    <form asp-action="AddProductToCart" asp-controller="Shared" autocomplete="off" method="post">
        <input type="text" name="input" />
    </form>
</div>