<div class="header">
    <nav>
        <ul>
            <a asp-action="Index" asp-controller="Home"><li>Home</li></a>
            <li>Cart</li>
            <li>Orders</li>
            <li>Customers</li>
            <li>Products</li>
        </ul>
    </nav>
</div>