<div class="container header flex">
    <nav>
        <ul class="flex">
            <a asp-action="Index" asp-controller="Home"><li>Home</li></a>
            <a asp-action="Index" asp-controller="Cart"><li>Cart</li></a>
            <li>Orders</li>
            <li>Customers</li>
            <li>Products</li>
        </ul>
    </nav>
    @* <partial name="_LoginPartial" /> *@ @* Update _LoginPartial's View*@
</div>