<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fast Food System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_dot_net_core_web_app_mvc_fast_food_system.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="asp-dot-net-core-web-app-mvc-fast-food-system.styles.css" /> @* CSS ISOLATION *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tamanchichan/cdn@latest/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tamanchichan/cdn@5a89155/classes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
    <header>
        <partial name="_Header" />
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            &copy; 2025 - asp_dot_net_core_web_app_mvc_fast_food_system - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
