@using Microsoft.AspNetCore.Identity
@using asp_dot_net_core_web_app_mvc_fast_food_system.Areas.Identity.Data;

@inject SignInManager<SystemUser> SignInManager
@inject UserManager<SystemUser> UserManager

<ul class="loginPartial-view">
    <li>
        <form class="logout-form" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="button logout-button" id="logoutButton" type="submit">Logout</button>
        </form>
    </li>
</ul>