.product-items-template, .item {
    display: grid;
    align-items: center; /* center items vertically (y-position) */
    gap: 10px;
    grid-template-columns: repeat(6, 1fr) 50px 50px;
    padding: 20px 0px;
    text-align: center;
}

.product-items-template {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.product-item {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    min-height: 70px;
    position: relative;
}

.product-additional-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-instructions {
    bottom: 0px;
    left: 15px;
    position: absolute;
    font-weight: 200;
    margin-left: 45px;
    text-transform: uppercase;
}

.button-additional-price {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    display: inline;
    font-size: 20px;
    padding: 0px;
}

.product-increment {
    background-color: #28a745;
}

.product-decrement {
    background-color: #dc3545;
}

.product-increment:hover, .product-decrement:hover {
    color: #fff;
}