.products {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    row-gap: 15px;
}

.product-category {
    text-align: center;
}

.product {
    border-bottom: 1px dotted #000;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 45px 200px 85px 15px;
    width: 360px;
    padding: 10px 0px;
}

.product-code {
    text-align: left;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}