.order-details-page .flex {
    justify-content: space-between;
}

.order-product-template, .order-product {
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    grid-template-columns: 100px repeat(4, 1fr);
    text-align: center;
    width: 100%;
}

.order-product-template {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.order-summary {
    margin-top: 45px;
}