.edit-order {
    display: flex;
    justify-content: right;
    padding-bottom: 15px;
}

.order-details-page .flex {
    justify-content: space-between;
}

.customer-details {
    justify-content: center !important;
}

.order-number-and-order-ready-date, .order-type-and-order-ready-time {
    align-items: baseline;
}

.order-summary {
    margin-top: 45px;
    position: relative;
}

.order-product-quantity {
    display: block;
    justify-content: space-between;
    gap: 30px;
}

.order-product-quantity h3 {
    margin: 0px;
}

.observations {
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: min-content;
}

.observations h3 {
    margin: 0px;
    letter-spacing: 2.5px;
}

.observations p {
    color: #ff1212;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0px;
}

.order-summary-price {
    flex-direction: column;
    margin-right: 20px;
}

.order-summary-price .flex {
    justify-content: right;
}

.order-summary-price h3 {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

.food-total {
    border-bottom: 1px solid #000;
}

.value {
    font-weight: 300;
    margin-left: 5px !important;
    max-width: 150px;
    min-width: 100px;
}

.order-total-price .value {
    font-weight: 400;
}

.print-receipt {
    display: flex;
    justify-content: right;
}

::deep .print-order-form {
    display: flex;
    gap: 10px;
}

::deep .print-order-form i {
    font-size: 30px;
}
