.clear-cart {
    font-size: 30px;
    position: absolute;
    top: 130px;
    right: 90px;
}

.fa-trash {
    display: flex;
}

.head, .cart-product {
    display: grid;
    align-items: center; /* center items vertically (y-position) */
    gap: 10px;
    grid-template-columns: repeat(6, 1fr) 50px 50px;
    padding: 10px 0px;
    text-align: center;
}
.head {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.button {
    display: block;
}

.cart-product-increment {
    background-color: #28a745;
}

.cart-product-decrement {
    background-color: #dc3545;
}

.cart-product-increment:hover, .cart-product-decrement:hover {
    color: #fff;
}

.cart-page input, .cart-page textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 7.5px 15px;
    margin-left: 5px;
    font-size: 15px;
    width: 200px;
}

.cart-page .order-type input {
    appearance: radio;
    margin-left: 5px;
}

.order-type div {
    margin: 0px 10px;
}

.order-type div input {
    width: fit-content;
}

.observations label {
    align-self: self-start;
}

.observations textarea {
    padding: 15px;
    resize: none;
}

#additionalCharge, #deliveryFee, #discount {
    width: 75px;
    border: 1px solid #000;
    text-align: center;
}

.cart-form .flex {
    align-items: center;
    justify-content: right;
    margin: 10px 0px;
}
