@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container login-page">
    <form class="login-form" id="account" method="post">
        <div>
            <label asp-for="Input.UserNameOrEmail">
                Username/E-mail:
            </label>
            <input asp-for="Input.UserNameOrEmail" autocomplete="off" class="input-text" />
        </div>
        <div>
            <label asp-for="Input.Password">
                Password:
            </label>
            <input asp-for="Input.Password" class="input-text" />
        </div>
        @* <div>
            <input type="checkbox" asp-for="Input.RememberMe" class="checkbox-input" />
            <label asp-for="Input.RememberMe">
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div> *@
        <div>
            <button class="button login-button" id="login-submit" type="submit">
                Log-In
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
