input, select {
    appearance: auto;
    border: 1px solid #000;
    border-radius: 2.5px;
    padding: 10px 5px;
}

input[type=text] {
    padding: 10px 15px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

button {
    margin-top: 10px;
    
}

::deep .create-product-form {
    border: 1px solid #000;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    padding: 30px 15px;
}

::deep .create-product-form label {
    display: block;
}
