.page-header {
    justify-content: space-between;
    padding-bottom: 15px;
}

.page-header h2 {
    margin-bottom: 0px;
}

.customers-list-template, .customer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.customers-list-template {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.customer-list {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding: 15px 0px;
}

.pagination {
    margin-top: 30px;
    justify-content: space-between;
    place-items: baseline;
}

::deep .disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}
